body {
    background: grey;
}

h1 {
    font-family: 'Jolly Lodger', cursive;
    text-align: center;
    font-size: 60px;
}

h2 {
    font-family: 'Sedgwick Ave', cursive;
    text-align: center;
    font-size: 20px;
}

#creepy {
    text-align: center;

}
