@import url(<link href="https://fonts.googleapis.com/css?family=Jolly+Lodger" rel="stylesheet">>);

/* Header Styling */

h1, h2, h3 {
  text-align: center;
  line-height: 100%;
font-family: 'Jolly Lodger', cursive;';
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  text-align: center;
}